@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto Mono', monospace;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  background-color: #ff4800;
  padding-bottom: 4rem;
  padding: 10px;
}

.cta-text-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
}

.input-group-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}

button {
  background-color: #ff4800;
  color: #ffffff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 0.4rem;
  font-weight: bolder;
  font-size: larger;
  width: 80%;
}

.results-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#disclaimer {
  padding: 10px;
  margin-top: 1rem;
  font-size: 0.6rem;
  color: #b1b1b1c9;
}

.hidden {
  display: none;
}

#after-tax-income {
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: #ff4800;
}

footer {
  padding: 10px;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  header {
    padding-bottom: 7rem;
    padding-left: 12.5rem;
    font-size: xx-large;
  }

  .container {
    width: 80%;
    display: flex;
  }
  .cta-text-container {
    display: flex;

    justify-content: space-evenly;
  }
  .input-group-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  input,
  select {
    width: 80%;
  }

  .results-container {
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1rem;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .btn-container > #calcBtn {
    width: 50%;
    margin-bottom: 1rem;
  }

  .btn-container > button {
    width: 40%;
  }

  .inputs-container-el {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .results-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #disclaimer {
    margin-top: 0;
  }
}
