* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 1rem;
}

.intro-container {
}

main {
}

form {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  padding: 20px;
}

.hidden {
  display: none;
}
